<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoDI_OpticaMarco.Properties.Settings.DB_Local_ImagesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Perea\source\repos\ProyectoDI_OpticaMarco\ProjectDB\SQLData\LocalImages\LocalImagesDB\DB_Local_Images.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoDI_OpticaMarco.Properties.Settings.projectdbConnectionString"
            connectionString="server=localhost;user id=root;password=1234;database=projectdb"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProyectoDI_OpticaMarco.Properties.Settings.FacturasDataSet"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Perea\source\repos\ProyectoDI_OpticaMarco\ProjectDB\SQLData\Facturacion\FacturasDB\Facturas.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

<!--connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Perea\source\repos\ProyectoDI_OpticaMarco\ProjectDB\SQLData\LocalImages\LocalImagesDB\DB_Local_Images.mdf;Integrated Security=True"-->
<!--connectionString="server=infsalinas.sytes.net;user id=root;password=dam1234;port=5306;persistsecurityinfo=True;database=projectdb"-->